.space {
    margin-right: 300px; 
    background-color:cornsilk
  }
  #design{
    border: 3px solid  green;
    margin: auto;
    padding: 10px;
    background-color: burlywood;
  }
  
  .space {
    margin: 0 80px; 
  }
  